.container{
    margin: 4.5em 0.1em;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: center;
    gap:24px;
}
.gridBebidas{
    margin-top: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    justify-content: center;
    gap:24px;
}
.linkBebida{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #19216D;
    color: #fff;
    width: fit-content;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 24px;
    cursor: pointer;
    margin-bottom: 16px;
}
.cardBebida{
    display:flex;
    flex-direction: column;
    max-width: 280px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border: solid 1px rgba(200, 200, 200, 0.5);
}
.cardMenu{
    display:flex;
    flex-direction: column;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    border: solid 1px rgba(200, 200, 200, 0.5);
    padding-bottom: 16px;
}
.cardMenu img{
    width:225px;
    height: 175px;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
}
.cardMenu section,
.cardMenu ul,
.mostrar{
    width: 175px;
    padding: 2px 16px;
    margin:0;
}
.cardMenu p{
    margin:0;
    font-weight: 400;
}
.cardMenu h2{
    margin: 4px 0;
    font-size:14px;
    font-weight: 600;
}
.cardMenu ul li{
    list-style:none;
    margin:0;
    padding: 0;
    font-size: 12px;
}
.mostrar{
    text-align: left;
    border:none;
    background-color: #111;
    color: #147feb;
    cursor:pointer;
}
.mostrar:hover{
    text-decoration: underline;
}
.buttonBuy{
    margin: 12px 0;
    margin-top: 8px;
    border:none;
    padding: 8px 4px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #00a000;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
}
.buttonCancel{
    margin: 12px 0;
    margin-top: 8px;
    border:none;
    padding: 8px 4px;
    width: 100px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #a00000;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
}
.buttonBebidaBuy{
    margin-top: 8px;
    border:none;
    padding: 8px 4px;
    width: 100%;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #00a000;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
}
.buttonBebidaCancel{
    margin-top: 8px;
    border:none;
    padding: 8px 4px;
    width: 100%;
    border-bottom-left-radius: 64px;
    border-bottom-right-radius: 64px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #a00000;
    color: #fff;
    cursor:pointer;
    font-size: 10px;
}
.cardBebida h3{
    text-align: center;
    text-transform: uppercase;
}
.cardBebida p{
    margin:0;
    padding: 4px 16px;
}
.cardMenu span,
.cardBebida span{
    font-size: 10px;
    color:#a00000;
    display:block;
}
@media (min-width: 1024px) {
    .grid{
        grid-template-columns: repeat(auto-fill, 450px); 
    }
    .cardMenu {
        flex-direction: row;
        border-top-right-radius: 0;
        border-bottom-left-radius: 64px;
        padding-bottom: 0;
        gap: 24px;
    }
    .cardMenu img{
        width:200px;
        height: auto;
        border-top-right-radius: 0;
        border-bottom-left-radius: 64px;
    }
    .cardMenu h2{
        font-size:16px;
    }
    .cardMenu section,
    .cardMenu ul,
    .mostrar{
        padding: 2px 0;
    }
}