
.nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    width: 100vw;
    top:0;
    left:0;
    background-color: #D03737;
    height: 4em;
}
.nav h1{
    text-transform: uppercase;
    margin: 0 12px;
}
.nav section{
    display:flex;
    align-items: center;
    gap:12px;
}
.adminStyle{
    color: goldenrod;
    text-decoration: none;
}
.cajeroStyle{
    color: greenyellow;
    text-decoration: none;
}
.cocineroStyle{
    color: #0a4e92;
    text-decoration: none;
}
.iniciarSesion{
    text-align:center;
    padding: 8px;
}
.iniciarSesion a{
    color: #147feb;
    text-decoration: underline;
}
.nav a:not(.adminStyle, .cajeroStyle, .cocineroStyle, .iniciarSesion a){
    text-decoration: none;
    color: #fff;
}
.nav h2{
    font-size: small;
}
.navButton{
    background-color: #D03737;
    border:none;
    color: white;
    cursor: pointer;
    padding: 0 12px;
    font-size: 3em;
    margin-right: 16px;
}
.navList{
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #191616;
    list-style:none;
    gap: 36px;
    padding: 0;
    flex-direction: column;
    position: fixed;
    top: 3em;
    width: 100%;
    padding: 20px 0;
    height: calc(100% - 4em);
    overflow-y: auto;
    left: 100%;
    transition: left 0.3s;
}
.navListVisible{
    left: 0;
}
.navList li a{
    font-size: 24px;
}
.navList li a:hover,
.navList li a:focus{
    color: #D03737;
    border-bottom: solid 2px #D03737;
    transition: 0.2s;
}

@media (min-width:768px){
    .navListVisible{
        left: 60%;
    }
    .navList{
        width: 40%;
    }
    .nav h2{
        font-size: 24px;
    }
}
@media (min-width:1024px){
    .navListVisible{
        left: 75%;
    }
    .navList{
        width: 25%;
    }
    .nav h2{
        font-size: 24px;
    }
}